.auth-form-wrapper{
    width: 100%;
    height: 740px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #232D3F;
}

.auth-form-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

.auth-form-header h1{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #fff;
}

.auth-form-header p{
    font-size: 1rem;
    font-weight: 400;
    color: #c7c3c3;
}

.auth-form-body{
    width: 100%;
    max-width: 400px;
    margin-bottom: 2rem;
}

.auth-form-body .auth-form{
    background-color: #0F0F0F;
    box-shadow: 0 0 10px rgba(190, 190, 190, 0.1);
    border-radius: 6px;
    padding: 20px;
}

.auth-form-group{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 1rem;
}

.auth-form-group .control-label{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: #fff;
}

.auth-form-group .form-control{
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    outline: none;
}

.auth-form-group .form-control:focus{
    border-color: #666;
}

.auth-form-group .form-control::placeholder{
    color: #999;
}

.auth-form-group .form-control:disabled{
    background-color: #eee;
}

.auth-form-group .form-control:disabled::placeholder{
    color: #ccc;
}

.auth-form-group .form-control:disabled:focus{
    border-color: #ccc;
}

.btn-submit{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    background-color: #005B41;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

.btn-submit:hover{
    background-color: #008170;
}

.btn-submit:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

.btn-admin{
    width: 100%;
    padding: 10px 0;
    border: none;
    border-radius: 4px;
    color: #616161;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    text-align: center;
    text-decoration: none;
}

.btn-admin:hover{
    color: #fff;
}